# Configuration of Web Authentication services for Sympa

{% if sympa_web_authentication | count %}
{% for auth_method in sympa_web_authentication %}
{{ auth_method.backend }}{% for key,var in auth_method.items() %}
{% if key != 'backend' %}
  {{ key }} {{ var }}{% endif %}  
{% endfor %}

{% endfor %}
{% else %}
# Internal authentication by email and password

user_table
	regexp .*
{% endif %}
