dbc_install='true'
dbc_upgrade='true'
dbc_remove=''
dbc_dbtype='{{ sympa_database.type | lower }}'
dbc_dbuser='{{ sympa_database.user }}'
dbc_dbpass='{{ sympa_database.password | default("") }}'
dbc_dbserver='{{ sympa_database.host | default("") }}'
dbc_dbport=''
dbc_dbname='{{ sympa_database.name }}'
dbc_basepath=''
dbc_ssl=''
dbc_authmethod_admin=''
dbc_authmethod_user=''
