# Conf for sympa log files rotation
/var/log/sympa.log {
       missingok
       notifempty
       rotate {{ sympa_syslog_rotations }}
{% if sympa_syslog_size is defined %}
       size={{ sympa_syslog_size }}
{% endif %}
       compress
       delaycompress
	   copytruncate
	   create 640 {{ sympa_unix_user }} {{ sympa_unix_group }}
       postrotate
           service rsyslog restart
       endscript
}