# Conf for sympa log files rotation
/var/log/sympa.log {
       missingok
       notifempty
       rotate 52
       compress
       delaycompress
	   copytruncate
	   create 660 {{ sympa_unix_user }} {{ sympa_unix_group }}
       postrotate
           service rsyslog restart
       endscript
}