# Main domain

domain {{ sympa_domain }}

# Listmaster

{% if sympa_listmaster is defined %}
listmaster {% if sympa_listmaster is string %}{{ sympa_listmaster }}{% else %}{{ sympa_listmaster | join(',') }}{% endif %}
{% else %}
listmaster listmaster@{{ sympa_domain }}
{% endif %}

{% if sympa_web_fcgi_enabled %}
# Web interface
wwsympa_url {{ sympa_web_fcgi_protocol }}://{{ sympa_domain }}/sympa
{% if sympa_config_logo_html_definition is defined %}
logo_html_definition {{ sympa_config_logo_html_definition | replace('\n', ' ') }}
{% endif %}
## Shared feature
shared_feature {{ sympa_config_shared_feature }}
{% endif %}

{% if sympa_soap_fcgi_enabled %}
# SOAP API
soap_url {{ sympa_web_fcgi_protocol }}://{{ sympa_domain }}/sympasoap
{% endif %}

# Logging
log_level {{ sympa_config_log_level }}

# Directories
etc {{ sympa_config_etc }}

# Database configuration
db_type {{ sympa_database.type }}
db_name {{ sympa_database.name }}
db_user {{ sympa_database.user }}
{% if 'password' in sympa_database %}
db_passwd {{ sympa_database.password }}
{% endif %}
{% if 'host' in sympa_database %}
db_host {{ sympa_database.host }}
{% endif %}
{% if 'port' in sympa_database %}
db_port {{ sympa_database.port }}
{% endif %}

## Additional fields
{% if sympa_config_additional_subscriber_fields %}
db_additional_subscriber_fields {{ sympa_config_additional_subscriber_fields }}
{% endif %}
{% if sympa_config_additional_user_fields %}
db_additional_user_fields {{ sympa_config_additional_user_fields }}
{% endif %}

# Security settings

## Switch off case sensitivity setting for passwords
password_case {{ sympa_config_password_case }}

## Password hash
password_hash {{ sympa_config_password_hash }}

# Language
{% if sympa_config_lang %}
lang {{ sympa_config_lang }}
{% endif %}
{% if sympa_config_supported_lang is defined %}
supported_lang {% if sympa_config_supported_lang is string %}{{ sympa_config_supported_lang }}{% else %}{{ sympa_config_supported_lang | join(',') }}{% endif %}
{% endif %}

# Email distribution settings

## Path to MTA
sendmail {{ sympa_config_sendmail }}

## Aliases
sendmail_aliases {{ sympa_config_sendmail_aliases }}

alias_manager {{ sympa_config_alias_manager }}

{% if sympa_config_aliases_program is defined %}
aliases_program {{ sympa_config_aliases_program }}
{% endif %}

{% if sympa_config_aliases_wrapper is defined %}
aliases_wrapper {{ sympa_config_aliases_wrapper }}
{% endif %}

## Incoming email
{% if sympa_config_max_size is defined %}
max_size {{ sympa_config_max_size }}
{% endif %}

# Archiving
process_archive {{ sympa_config_process_archive | bool | ternary('on', 'off') }}
