# Main domain

domain {{ sympa_domain }}

# Listmaster

listmaster {{ sympa_listmaster }}

{% if sympa_web_fcgi_enabled %}
# Web interface
wwsympa_url {{ sympa_web_fcgi_protocol }}://{{ sympa_domain }}/sympa
{% endif %}

# Logging
log_level {{ sympa_config_log_level }}

# Database configuration
db_type {{ sympa_database.type }}
db_name {{ sympa_database.name }}
db_user {{ sympa_database.user }}
{% if 'password' in sympa_database %}
db_passwd {{ sympa_database.password }}
{% endif %}
{% if 'host' in sympa_database %}
db_host {{ sympa_database.port }}
{% endif %}
{% if 'port' in sympa_database %}
db_port {{ sympa_database.port }}
{% endif %}
#db_host

# Security settings

## Switch off case sensitivity setting for passwords
password_case sensitive

## Use bcrypt hash for passwords
password_hash bcrypt
