[Unit]
Description=Sympa mailing list manager (bounce processing)
After=syslog.target
BindsTo=sympa.service

[Service]
Type=forking
PIDFile={{ sympa_installation_directory }}/bounced.pid
ExecStart={{ sympa_installation_directory }}/bin/bounced.pl
User={{ sympa_unix_user }}
Group={{ sympa_unix_group }}
