[Unit]
Description=Sympa mailing list manager
After=syslog.target
{% for service in sympa_services | reject('equalto', 'sympa') %}
Wants={{ service }}.service
Before={{ service }}.service
{% endfor %}

[Service]
Type=forking
PIDFile={{ sympa_installation_directory }}/sympa_msg.pid
ExecStartPre={{ sympa_installation_directory }}/bin/sympa.pl --health_check
ExecStart={{ sympa_installation_directory }}/bin/sympa_msg.pl
User={{ sympa_unix_user }}
Group={{ sympa_unix_group }}

[Install]
WantedBy=multi-user.target
