#
# rsyslog configuration for sympa
#

:programname, contains, "sympa"         -/var/log/sympa.log
:programname, contains, "archived"      -/var/log/sympa.log
:programname, contains, "bounced"       -/var/log/sympa.log
:programname, contains, "bulk"          -/var/log/sympa.log
:programname, contains, "task_manager"  -/var/log/sympa.log
