[Unit]
Description=WWSympa - Web interface for Sympa mailing list manager
After=syslog.target
BindTo=sympa.service
 
[Service]
Type=forking
PIDFile=/run/wwsympa/wwsympa.pid
ExecStart=/usr/bin/spawn-fcgi -F $FCGI_CHILDREN \
    -P /run/wwsympa/wwsympa.pid \
    -u $FCGI_USER -g $FCGI_GROUP $FCGI_OPTS -- \
    {{ sympa_installation_directory }}/bin/wwsympa.fcgi
Environment="FCGI_CHILDREN=5"
Environment="FCGI_USER={{ sympa_unix_user }}"
Environment="FCGI_GROUP={{ sympa_unix_group }}"
Environment="FCGI_OPTS=-s {{ sympa_web_fcgi_socket }} -M 0660 -G {{ sympa_web_unix_user }}"
EnvironmentFile=-/etc/sysconfig/sympa
RuntimeDirectory={{ sympa_web_fcgi_socket.split('/')[2] }}
RuntimeDirectoryPreserve=yes
Restart=always

[Install]
WantedBy=multi-user.target
