[Unit]
Description=WWSympa - Web interface for Sympa mailing list manager
After=sympa.service
Requires=wwsympa.socket
Documentation=man:wwsympa(8)
 
[Service]
User={{ sympa_unix_user }}
Group={{ sympa_unix_group }}
ExecStart=/usr/bin/multiwatch -f $FCGI_CHILDREN \
          -- {{ sympa_fcgi_directory}}/wwsympa.fcgi
StandardOutput=null
StandardInput=socket
StandardError=null

Environment="FCGI_CHILDREN={{ sympa_web_fcgi_instances }}"
EnvironmentFile=-/etc/sysconfig/sympa
Restart=on-failure
RestartSec=15

PrivateTmp=true

[Install]
Also=wwsympa.socket
WantedBy=multi-user.target
